/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/* 
  Setting type to a minor second modular scale
  http://www.modularscale.com/?1&em&1.067&web&text
*/

html { /* Modify font size, height of lines & spacing in html page  */
  font-size: 1.125em; /* 18px / 16px = 1.125em*/
  line-height: 1.222em; /* 22px is 1 gridline | 22px / 18px = 1.222em */
  background-color: #d3d3d3; /* color of background: light gray */
  font-family: cambria, calibri;
}

header {
  padding-top: 4.889em;
  text-align: center;
}

h1 { /* Modify all h1 elements */
  font-size: 1.793em; /* 28.688px */
  line-height: 1.534em; /* 44px / 28.688px */
  padding-bottom: 1.534em;
}

h2 { /* Modify all h2 elements */
  font-size: 1.476em; /* 23.616px */
  line-height: 0.932em; /* 22px / 23.616 */
  padding-top: 0.932em;
  padding-bottom: 0.466em;
  text-align: center;
  font-weight: bold;  
}

h3 { /* Modify all h3 elements */
  font-size: 1.215em; /* 19.44px */
  line-height: 1.132em; /* 22px / 19.44px */
  padding-bottom: 1.132em;
}

img, 
video {
  max-width: 100%;
  padding: 1.222em 0 0.611em 0;
}

figcaption {
  padding: 1.222em 0 1.222em 0;
  text-align: center;
}

footer { /* Modify all footer elements */
  font-size: 0.772em; /* 12.352px */
  color: white;
  background-color: black;
  font-weight: bold;
}

/* ===== LAYOUT STYLES ===== */
#title {
  font-size: 2.882em; /* 46.112px */
  padding: 0.716em 0 0.716em 0;
}

header {
  background-color: white;
}

#navigation li a,
.u-url,
.u-email { /* Removes underlines from href links */
  text-decoration: none;
}

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation li a { /* Allows a clickable box for nav links */
  font-size: 1.296em; /* 20.736px */
  color: white;
  font-weight: bold;
  background-color: black;
  text-align: center;  
  padding: 1.061em 0 1.061em 0;
}

#navigation li:hover a { /* Making a bar that lights when selected */
  background-color: gray;
}

#main {
  padding: 1.222em 3.667em;
}

#main 
img {
  border: 1.222em solid white;
}
.reason {
  font-size: 1.296em; /* 20.736px */
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  padding: 0 4.244em 1.061em 4.244em;
}
.reason h2 {
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 0.891em 0 0.891em 0;
}

/* Specifc page design */
#about header {
  background-color: initial;
}

#aesthepics #page {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.u-email,
.u-url { /* set the color of the url & email links */
  font-size: 1.476em;
  color: white;
  font-weight: bold;
}
/* ===== MODULAR STYLES ===== */

video {
  display: block;
}

#logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 2.444em;
}

#main section figure
img {
  display: block;
  margin: 0 auto;
}

/* Specifc page design */
#home #logo {
  display: flex;
  justify-content: center; 
  padding: 0;
}

#aesthepics .contact-information figure {
  display: flex;
  justify-content: flex-end;
}

#navigation li a { /* Keeps the navigation link lined up & stretch across page */
  display: block;
  float: left;
  width: 20%; /* 5 links in the navigation bar */
}

/* ===== STATE STYLES ===== */
@media screen and (min-width: 0){
  html {
    font-size: 1.125em;
  }
  
  #navigation li a {
    font-size: 0.623em;
  }
  
  #title {
    font-size: 1.476em;
  }
  
  .reason {
    font-size: 1.138em;
    padding: 0 2.122em 1.061em 2.122em;
  }
  
  #main {
    padding: 0.306em 0.917em;
  }
}

@media screen and (min-width: 373px){
  html {
    background-color: #b19cd9; /* purple */
  }
  
  #navigation li a {
    font-size: 0.823em;
  }
  
  #title {
    font-size: 2.232em; /* 46.112px */
    padding: 0.716em 0 0.716em 0;    
  }
    
  .reason {
    font-size: 1.296em; 
  }
}

@media screen and (min-width: 606px){
  html {
    font-size: 1.215em;
    background-color: #87ceeb; /* sky blue */
  }
  
  #title {
    font-size: 2.479em; /* 46.112px */
    padding: 0.716em 0 0.716em 0;    
  }
  
  #navigation li a {
    font-size: 1.138em;
  }
}

@media screen and (min-width: 790px) {
  html {
    font-size: 1.296em;
    background-color: #ffcc33; /* orange */
  }
  
  #title {
    font-size: 2.645em; /* 46.112px */
    padding: 0.716em 0 0.716em 0;    
  }
  
}

@media screen and (min-width: 1103px) {
  html {
    font-size: 1.383em;
    background-color: #1b89cc; /* blue */
  }
  
   .navigation li a {
    font-size: 1.575em;
  }
  
  #title {
    font-size: 2.882em; /* 46.112px */
    padding: 0.716em 0 0.716em 0;    
  }
  
  #main {
    padding: 2.444em 7.334em;
  }
}